*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
 --dark-bg-color: #050607;
 --dark-green-color: #063610;
 --light-green-color: #074814;
 --night-dark-color: #041306;
 --white-color: #ffffff;
 --light-color: #119822; 
 --olive-green-color: #a8c686;
 --black-color: #000000;
}
html {
  background-color: var(--olive-green-color)
}
header nav {
  background-color: var(--light-green-color);
  display: flex;
  justify-content: space-between;

}
nav {
  justify-content: space-between;
  display: flex;
}
nav img {
  margin-top: 1rem;
}
nav ul  {
  display: block;
  line-height: 3;
  background-color: var(--dark-bg-color);
  @media (min-width: 1200px){
    display:flex;
    background-color: var(--light-green-color) ;
    font-size: 1.4em;
    font-weight: bold;
   }
  
}
nav ul li {
  list-style-type: none;
  display: block;
  
  
}
nav ul li a {
  color: var(--white-color);
  font-size: 1.2em;
  text-decoration: none;
  padding: 1rem;
  white-space: nowrap;
  z-index: 1;
  display: none;
  &:hover{
    color: var(--black-color);
    border-bottom: var(--white-color);
  }
  @media (min-width: 1200px){
    display:flex;
    background-color: var(--light-green-color);
    }
}
header nav i {
   margin-right: 2.5rem;
   margin-top:2rem; 
 @media (min-width: 1200px){
    margin-top: 3rem;
    }
}
h1, h2, h3 {
  color:var(--white-color);
}  
h1 {
  font-size: 1.3em;
  text-align: center;
  margin-top: 1.4rem;
  @media (min-width: 1200px){
  font-size: 4em;
  }
}
main {
  text-align: center;
  line-height: 4;
}
main table {
  text-align: center;
  align-items: center;
  justify-content: center;
}
main .image-section {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 2rem;
  margin-bottom: 3rem;
  margin: auto;
   padding-top: 4rem;
  @media (min-width: 1200px){
    padding-top: 4rem;
    margin-top: 4rem;
    display:flex;
    gap: 3rem;
    margin-top: 3rem;
     align-items: center;
     margin: auto;
     justify-content: center;

     }
}
main .image-section  .card  {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: auto;
  background-color: var(--dark-green-color);
  @media (min-width: 1200px){
     text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    ;
     }
}
main .image-section p {
  line-height: normal;
  color: var(--white-color);
  padding: 2rem;
  font-size: 1.3em;
    @media (min-width: 1200px){
    width: 200px;
    line-height: normal;
    color: var(--white-color);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    font-size: 1.8em;
     }
}